.home-components{
    display: grid;
    grid-template-columns: 8fr 4fr;
}
.landing-pic img{
    width: 698px;
    height: 698px;
}
.content {
    padding-left: 40px;
    padding-top: 152px;
}
.content h2{
    font-size: 40px;
    font-family:poppins;
    font-weight: bolder;
}
.content h2 span{
    color: #0C6B7F;
}
.content h4{
    font-size: 40px; 
   font-weight: 400;
}
.content p{
    font-size: 18px;
    font-weight: 400;
    color: #282929d0;
}
.content button{
    background: #f6d86c;
    color: #293E60;
    padding: 3px 15px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}